/* トップ */
#top {
  background-color: #252525;
  color: #eee;
  text-align: center;
  padding: 200px;
  font-size: 6rem;
  font-weight: bold;
}

/* 【占いセクション】 */
/* 左側 */
#roulette {
  width: 100%;
  height: 100%;
  background: url(../img/星座占い背景.jpg) repeat-x;
  -webkit-animation: scroll-anim 20s linear infinite;
  animation: scroll-anim 20s linear infinite;
  padding: 150px 0;
}

@-webkit-keyframes scroll-anim {
  100% {
    background-position: -100% 0;
  }
}

@keyframes scroll-anim {
  100% {
    background-position: -100% 0;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
}

.roulette {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.container h1 {
  font-size: 8rem;
  font-weight: bold;
}

.container h1 span {
  text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff,
    3px 3px 0 #fff;
  color: #2ba008;
}

.half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#roulette_btn {
  border-radius: 30px;
  cursor: pointer;
  font-size: 150px;
  font-weight: bold;
  color: white;
  border: none;
  margin-top: 50px;
  padding: 100px;
  background: none;
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 8;
  animation-iteration-count: 8;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#roulette_txt {
  color: white;
  font-size: 100px;
}

#roulette_img {
  width: 900px;
  height: 900px;
  border-radius: 600px;
}

/* 右側 */
.today {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

#today_btn {
  cursor: pointer;
  font-size: 100px;
  font-weight: bold;
  color: white;
  border: none;
  margin-top: 50px;
  padding: 100px;
  background: none;
}

#today_img {
  width: 900px;
  height: 900px;
  border-radius: 600px;
}

#today_btn2 {
  color: white;
  font-size: 150px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#today_detail {
  font-size: 55px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 150px;
  text-shadow: 10px 0 black;
}

/* おみくじ */
#omikuji {
  height: 100%;
  width: 100%;
  background: url(../img/background.jpg);
  background-size: cover;
}

.omikuji {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.omikuji_txt {
  font-size: 8rem;
  color: #eee;
  text-shadow: 3px 0 #252525;
}

#omikuji_btn {
  font-size: 8rem;
  color: black;
  background-color: #fff;
  margin: 20px;
  padding: 50px;
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
}

#omikuji_btn:hover {
  color: white;
  background: none;
  border: none;
}

.omikuji_img {
  width: 80%;
  opacity: 90%;
}

/* 3秒間回転 */
#move.show {
  -webkit-animation: rotate_anime 3s;
  animation: rotate_anime 3s; /* rotate_animeを1秒かけて実行する */
}
@-webkit-keyframes rotate_anime {
  0% {
    transform: rotate(0deg); /* アニメーションの進みが0%の時の状態 */
  }
  100% {
    transform: rotate(360deg); /* アニメーションの進みが100%の時の状態 */
  }
}
@keyframes rotate_anime {
  0% {
    transform: rotate(0deg); /* アニメーションの進みが0%の時の状態 */
  }
  100% {
    transform: rotate(360deg); /* アニメーションの進みが100%の時の状態 */
  }
}
